.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34; /* Header color */
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.app-title {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
}

.app-description {
  font-size: 16px;
  text-align: center; /* Align text to the center */
  margin-bottom: 20px;
  color: white;

}

.app-main {
  flex: 1;
  background-color: rgba(40, 44, 52, 0.9); /* Main content background color with reduced opacity */
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.upload-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.upload-button {
  font-size: 16px;
  display: block;
  justify-content: center;
  align-items: center;
}

.app-footer {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.app-link {
  color: #61dafb;
  text-decoration: none;
}

.app-link:hover {
  text-decoration: underline;
}